body {
    background-color: aqua;
}

p {
    background-color: blue;
    color: azure;
    font-size: 25px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 5px;
}